a.slider {
   padding: 10px 25px;
   background-color: #4CA74C;
   color: #fff;
   border-radius: 25px;
   text-decoration: none;
}



#mySlider {
   overflow: hidden;
   position: relative;
   width: 100%;
   height: 300px;
}

.singleSlide {

   background-size: cover;
   height: 300px;
   position: absolute;
   left: 100%;
   width: 100%;
   top: 0px;
}


#sliderNav {
   position: relative;
   top: -175px;
}

#sliderNav:hover { cursor: pointer;    }

#sliderPrev {
   position: relative;
   float: left;
   left: 50px;
}

#sliderNext {
   position: relative;
   float: right;
   right: 50px;
}

@-webkit-keyframes slideIn {
   100% { left: 0; }
}

@keyframes slideIn {
   100% { left: 0; }
}

.slideInRight {
   left: -100%;
   -webkit-animation: slideIn 1s forwards;
   animation: slideIn 1s forwards;
}

.slideInLeft {
   left: 100%;
   -webkit-animation: slideIn 1s forwards;
   animation: slideIn 1s forwards;
}

@-webkit-keyframes slideOutLeft {
   100% { left: -100%; }
}

@keyframes slideOutLeft {
   100% { left: -100%; }
}

.slideOutLeft {
   -webkit-animation: slideOutLeft 1s forwards;
   animation: slideOutLeft 1s forwards;
}

@-webkit-keyframes slideOutRight {
   100% { left: 100%; }
}

@keyframes slideOutRight {
   100% { left: 100%; }
}

.slideOutRight {
   -webkit-animation: slideOutRight 1s forwards;
   animation: slideOutRight 1s forwards;
}

.button1{
  background-color: green; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.button2{
  background-color: pink; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 50px;
}
.button2:focus {
    outline: none;
}
